<div class="ibox detailed-view-ibox">
    <div class="detailed-view-header">
        <div class="col-sm-9"><span>Parking Spot</span></div>
        <div class="col-sm-3">
            <button type="button" class="btn btn-w-m btn-primary pull-right" (click)="create()">
                <i class="fa fa-plus-circle"></i> Add Parking Spot
            </button>
        </div>
    </div>

    <div class="detailed-view-body">
        <div class="detailed-view__more-info m-t-md">
            <form *ngIf="data"
                  #form="ngForm"
                  (ngSubmit)="update(form)"
                  [ngClass]="{'ng-submitted': form.submitted}"
                  autocomplete="off">

                <input-field
                    [ngModel]="data.parkingNumber"
                    name="parkingNumber"
                    [required]="true"
                    [title]="'Parking Spot'"
                    (update)="update({parkingNumber: form.value.parkingNumber});
                    updateNameInList('parkingList', data.id, 'parkingNumber',form.value.parkingNumber)">
                </input-field>

                <boolean-field
                    [title]="'Rented Out'"
                    name="rentedOut"
                    [(ngModel)]="data.rentedOut"
                    (update)="update({rentedOut: form.value.rentedOut}); resetRentedTo()">
                </boolean-field>

                <input-field
                    *ngIf="form.value.rentedOut == 1"
                    [ngModel]="data.rentedTo"
                    name="rentedTo"
                    [title]="'Rented To'"
                    (update)="update({rentedTo: form.value.rentedTo})">
                </input-field>

                <input-field
                    [ngModel]="data.garageRemote"
                    name="garageRemote"
                    [title]="'Garage Remote'"
                    (update)="update({garageRemote: form.value.garageRemote})">
                </input-field>

                <input-field
                    [ngModel]="data.handicap"
                    name="handicap"
                    [title]="'Handicap'"
                    (update)="update({handicap: form.value.handicap})">
                </input-field>

                <input-field
                    [ngModel]="data.legalDescription"
                    name="legalDescription"
                    [title]="'Legal Description'"
                    (update)="update({legalDescription: form.value.legalDescription})">
                </input-field>

                <div class="m-b-md">
                    <textarea-field
                        ngModel
                        [title]="'Notes'"
                        name="note"
                        [value]="data.note"
                        (update)="update({note: form.value.note})">
                    </textarea-field>
                </div>

                <div class="btn-group" *ngIf="data.id">
                    <a data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle">
                        Actions <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a (click)="remove()">Delete</a></li>
                    </ul>
                </div>

            </form>
        </div>
    </div>
</div>

<div class="boxForModal" *ngIf="isCreateModal && parent.suiteData">
    <parking-spot-create
        [closeTrigger]="hideModal"
        (onPopupClose)="hideModal()"
        [buildingId]="parent.suiteData.building.id"
        [suiteId]="parent.suiteData.id"
        [inDirectoryItemView]="true"
    ></parking-spot-create>
</div>
