.img-checkbox {
    input[type="checkbox"] {
        display: none;
        & + label {
            user-select: none;
            cursor: pointer;

            &:before {
                content: '';
                display: inline-block;
                width: 14px;
                height: 14px;
                vertical-align: middle;
                margin-right: 5px;
                border: 1px solid #ddd;
            }
            .svg-checked, .svg-halfchecked {
                display: none;
                width: 14px;
                height: 14px;
                vertical-align: middle;
                margin-right: 5px;
                fill: #1ab394;
            }
        }
        &:checked + label {
            &:before {
                content: none;
            }
            .svg-checked { display: inline-block; }
        }
        &.halfchecked + label {
            &:before {
                content: none;
            }
            .svg-checked { display: none; }
            .svg-halfchecked { display: inline-block; }
        }
        &[disabled] + label svg { opacity: .5; }
    }
    span {
        cursor: pointer;
        user-select: none;
    }
}

.table-responsive {
    .img-checkbox {
        input[type="checkbox"] {
            & + label {
                &:before {
                    width: 22px;
                    height: 22px;
                }
                .svg-checked, .svg-halfchecked {
                    width: 22px;
                    height: 22px;
                }
            }
        }
    }
}

table {
    .img-checkbox {
        margin-bottom: 0;

        input[type="checkbox"] {
            & + label {
                margin-bottom: 0;
            }
        }
    }
}