<div class="row m-b-xs" (dblclick)="editModeOn()">
    <div *ngIf="title" class="dv-label col-sm-3 strong" data-toggle="tooltip" data-placement="top"
         [title]="tooltipText">
        {{ title }}
    </div>

    <div *ngIf="!editOnly" class="dv-value" [ngClass]="{'hidden': isEditMode, 'col-sm-9': title, 'col-sm-12': !title}">
        <i *ngIf="icon" [ngClass]="icon" class="m-r-sm"></i>

        <span [class]="valueClass">{{ value || '-' }}</span>

        <i class="fa fa-pencil pull-right" (click)="editModeOn()"
           data-toggle="tooltip" data-placement="top" title="Edit"></i>
    </div>

    <div class="dv-value-edit" [ngClass]="{'hidden': !isEditMode, 'col-sm-9': title, 'col-sm-12': !title}">
        <i *ngIf="icon" [ngClass]="icon" class="m-r-sm"> </i>

        <input (keyup.enter)="apply()" [(ngModel)]="value" class="form-control"
               maxlength="255" [required]="required" autocomplete="off">

        <button *ngIf="!editOnly" type="button" (click)="apply()">
            <i class="fa fa-check"></i>
        </button>

        <button *ngIf="!editOnly" type="button" (click)="cancel()">
            <i class="fa fa-times"></i>
        </button>
    </div>
</div>
